
div {
    background-color:antiquewhite; /* Color Name */

    /* top right bottom left */
    padding: 20px; /* Padding top, right, bottom and left by 20px */

    padding-top: 20px; /* Padding top */
    padding-right: 20px; /* Padding right */
    padding-bottom: 20px; /* Padding bottom */
    padding-left: 20px; /* Padding left */

    padding: 20px 40px; /* padding top and bottom 20px, padding right and left 40px */

    padding: 20px 40px 60px; /* padding top 20px, padding right and left 40px, padding bottom 60px */

    padding: 20px 40px 60px 80px; /* padding top 20px, padding right 40px, padding bottom 60px, padding left 80px */
}