
div {
    background-color: #ddd;
    
    width: 70%;
    
    padding: 10px;
    
    margin: auto;

    border-color: red; /* This will set the color of the border */
    border-width: 10px; /* This will set the width of the border */
    border-style: solid ; /* This will set the style of the border */

    border : 10px solid red; /* This is the same as the above three lines */

    text-align: center; /* This will center the text in the div */
}
