
div {
    background-color:rgb(230, 215, 215); /* Color Name */

    width: 50%; /* Width of the div */

    /* top right bottom left */
    padding: 20px; /* Padding top, right, bottom and left by 20px */

    /* margin: auto; Center the div */

    margin-left: auto; /* Center the div */
    margin-right: auto; /* Center the div */
}
