h1{
    color: green;   /* h1 الشغل هنا علي ال  */
}

p{
    color: green; /* p الشغل هنا علي ال  */
}

h1, p{ 
    /* p و ال h1 الشغل هنا علي ال  */
    /* باستخدامك للفاصلة كدة بتقدر تحدد اكتر من عنصر الشغل هيكون عليهم */
    color: green;
    text-align: center;
}

.t{
    /* t الشغل هنا علي كل العناصر الي الكلاس بتاعها اسمه  */
    color: blue;
}

#l{
    /* l الشغل هنا علي كل العناصر الي الاي دي بتاعها اسمه  */
    color: blueviolet;
}


p.t{
    /* t الشغل هنا علي البارجراف  الي واخد كلاس اسمه  */
    color: blueviolet;
}

p#l{
    /* l الشغل هنا علي البارجراف  الي واخد اي دي اسمه  */
    color: red;
}

*{
    /* وطبقلي الحاجات الي هعملها هنا  html  علامة النجمة دي كده انت بتقولو روحلي لاي عنصر موجود في صفحة ال  */

    text-overflow: calc();
}
