

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.item {
    width: 150px;
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #92bcca;
}

/* Responsive Styles */

/* For mobile */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }
}


/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
    }

    .item {
        width: 45%;
    }
}



/* For large screens 3 items per row */
@media (min-width: 1025px) {
    .container {
        gap: 20px;
    }

    .item {
        width: 30%;
    }
}